  a {
    text-decoration: none;
  }

  .header {
    background: #fff;
    border-bottom: 1px solid #ddd;
  }

  .header .shortcut__content {
    position: relative;
    z-index: 11;
    height: 140px;
  }

  .header-inner__logo .logo_tit {
    position: absolute;
  }

  #logo {
    height: 138px;
    width: 195px;
  }

  .header-inner__search .search__box {
    position: absolute;
    left: 260px;
    top: 25px;
    width: 546px;
    height: 32px;
    border: 2px solid #e2231a;
    background: #fff;
  }

  .header-inner__search .search__bar {
    left: 0;
    padding: 2px 44px 0px 17px;
    width: 392px;
    height: 26px;
    border: 1px solid transparent;
    line-height: 26px;
    font-size: 12px;
    outline: none;
  }

  .iconfont .icon-xiangji {
    position: absolute;
    right: 75px;
    top: 10px;
    width: 19px;
    height: 15px;

  }

  .search__box .photo-search-login {
    display: inline-block;
    position: absolute;

  }

  .header-inner__search .search-button {
    cursor: pointer;
    border-radius: 0;
    top: -1px;
    right: 0;
    width: 58px;
    height: 34px;
    line-height: 32px;
    border: none;
    background-color: #e1251b;
    font-size: 20px;
    font-weight: 700;
    color: #fff;

    position: absolute;
  }

  .header-inner__search .search-button:hover {
    background-color: rgba(187, 12, 12, 0.945);
  }

  #settleup {
    position: absolute;
    right: 230px;
    top: 25px;
  }

  .header-inner__search .shopping {
    position: relative;
    width: 130px;
    height: 36px;
    border: 1px solid #ccc;
    background-color: white;
    color: red;
    line-height: 36px;
    text-align: center;
    font-size: 12px;
  }

  .header-inner__search .shopping:hover {
    border: 1px solid red;
  }

  .header-inner__search .shopping__goods-count {
    position: absolute;
    top: 0px;
    left: 35px;
    padding: 0 6px;
    border-radius: 7px;
    font-style: normal;
    background-color: #e1251b;
    color: white;
    line-height: initial;
  }

  #hotwords {
    overflow: hidden;
    position: absolute;
    left: 255px;
    top: 65px;
    width: 550px;
    height: 20px;
    line-height: 20px;
    font-size: 6px;
  }

  li {
    list-style-type: none;
  }

  #hotwords a {
    white-space: nowrap;
    color: #999;
    float: left;
    margin: 0 5px;
  }

  #hotwords a:hover {
    color: red;
  }

  #hotwords .style-red {
    color: #e1251b;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .navitems {
    overflow: hidden;
    position: absolute;
    left: 203px;
    bottom: 0;
    height: 40px;
    padding-top: 20px;
  }

  .header-inner__search .navitems__look-my {
    float: left;
    margin: 0 10px;
    font-size: 16px;
    color: #333;
  }

  .navitems a {
    color: #333;
  }

  .header-inner__search .navitems__look-my:first-child {
    margin-left: 7px;
    font-weight: 700;
  }

  .header-inner__search .navitems__look-my:first-child>a:visited {
    color: red;
  }

  .header-inner__search .navitems__look-my:nth-child(2) {
    font-weight: 700;
  }

  .header-inner__search .navitems__look-my:nth-child(2)>a:visited {
    color: red;
  }

  .header-inner__search .navitems__look-my:last-child {
    position: relative;
  }

  .header-inner__search .navitems__icon-hot {
    position: absolute;
    top: -10px;
    left: 30px;
    width: 30px;
    height: 15px;
    background-image: url("../images/s.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header-inner__promo {
    width: 187px;
    height: 118px;
    margin-top: 12px;
    margin-left: 381px;
    float: right;
  }

  .header-inner__promo .promo__to {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../images/promo.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }